<!-- <app-header></app-header>
<app-hero></app-hero>
<app-features></app-features>
<app-howitworks></app-howitworks>
<app-testimonials></app-testimonials>
<app-footer></app-footer>
<router-outlet></router-outlet> -->

<app-header></app-header>

<!-- Hero Section -->
<app-hero id="hero"></app-hero>

<!-- Features Section -->
<app-features id="features"></app-features>

<!-- How It Works Section -->
<app-howitworks id="howitworks"></app-howitworks>

<!-- Testimonials Section -->
<app-testimonials id="testimonials"></app-testimonials>

<app-footer id="footer"></app-footer>

<router-outlet></router-outlet>

